
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


/*@font-face {
	font-family: "OpenSans";
	src:
		url("fonts/OpenSans/OpenSans-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}*/



.eris-body {
	font-family: 'Roboto', "Helvetica", "Arial", sans-serif;
	background: #fbfbff;
	margin: 0;
}



.eris-global-container {
	display: flex;
	gap: 10px;
	width: 100%;
	margin: 0;
	flex-direction: column;
}



.eris-header {
	justify-content: space-between;
	align-items: center;
	padding: 8px 8px;
	width:100%;
	margin: 0px auto;
	text-align:center;
	border: 1px none #79aab7;
	border-bottom-style: solid;
	display: flex;
	flex-direction: row;
	background: #124657;
	color: white;
	flex-wrap: wrap;
}

.eris-header-logo {
	flex: 1;
}

.eris-header-logo img {
	height: 40px;
	box-shadow: 2px 3px 2px rgba(121, 170, 183, 0.5);
}


@keyframes eris-fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.eris-title {

	animation: eris-fade-in  0.3s ease-in-out forwards; 

	margin: 10px auto;
	font-size: 24pt;
	text-align: center;
}

.eris-subtitle {
	font-size: 90%;
	color: #808080;
	text-align:center;
	margin: 0 auto;
}



.eris-panel {
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding: 10px;
}



.eris-content-container {
	display: flex;
	gap: 10px;
	width: 90%;

	margin: 0 auto;
	flex-direction: row;
}



.eris-scrollable-menu {
	flex: 2;
	width: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.eris-scrollable-container {
	width: 100%;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fff;
	padding: 10px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}



.eris-button-box {
	display:flex;
	justify-content:center;
	gap:10%;
}



.eris-main-button {
	padding: 10px;
	font-size: 16px;
	background-color: #2f7889; 
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	text-decoration: none;
}

.eris-main-button:hover {
	background-color: #276472;
}

.eris-main-button:active {
	background-color: #276472;
}

.eris-main-button:disabled {
	background-color: #D0D0D0;
}



.eris-button {
        padding: 5px;
        border: 1px solid #808080;
        border-radius: 4px;
	background: #fef6e7;
	font-size: 90%;
	cursor: pointer;
	box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.1);
}

.eris-button img {
	vertical-align: middle;
}

.eris-button:hover {
	background: #c0c0c0;
}

.eris-button:active {
	box-shadow: 0px;
	transform: translate(1px, 1px);
}



.eris-login-field {
	width: 30em;
	font-size: 110%;
        border: 1px solid #808080;
        border-radius: 4px;
}



h2 {
	text-align: center;
}

h4 {
	font-size: 20px;
}



.eris-center {
	text-align: center;
}



.eris-bottom {
	display: grid;
	align-items: end;
}



.eris-2-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 80%;
	margin: auto
}

.eris-3-columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: auto
}



.eris-color-dark {
	color: #2f7889;
}

.eris-color-error {
	color: red;
}



.eris-popup {
	/* grayed area over normal page */
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}



.eris-popup-content {
	position: relative;
	background-color: #f7f7ff;
	padding: 30px;
	border-radius: 8px;
	width: 400px;
	text-align: left;
}



.eris-popup-close-btn {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
}



.eris-popup-title {
	background-color: #c4dde6;
	color: black;
	text-align: center;
	font-size: large;
	font-weight: bold;
	padding: 10px;
}



.eris-popup-section {
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	padding: 5px 10px 5px 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}



.eris-popup-form-row {
	display: flex;
	align-items: center;
	margin: 5px 10px 5px 10px;
}

.eris-popup-form-row label {
	flex: 0 0 250px;
}

.eris-popup-form-row input[type="text"],
.eris-popup-form-row input[type="password"] {
	flex: 1;
	padding: 0.4rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}



.eris-popup-note {
	font-size: 0.9rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-style: italic;
}



.eris-popup-link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}



.eris-header-menu {
	align-items: center;
	display: flex;
	list-style-type: none;
	padding: 0;
	gap: 10px;
	flex: 6;
	flex-wrap: wrap;
	color: white;
}

.eris-header-menu-entry {
	text-align: center;
	color: white;
	padding: 4px 10px;
	border-radius: 4px;
}

.eris-header-menu-entry a {
	text-decoration: none;
	color: white;
	padding: 5px 10px;
}

.eris-header-menu-entry:hover {
	font-weight: bold;
	cursor: pointer;
}

.eris-header-menu-entry-selected {
	text-align: center;
	color: white;
	padding: 4px 10px;
	border-radius: 4px;

	font-weight: bold;
	background: #427687;
}

.eris-header-menu-entry-disabled {
	text-align: center;
	color: #a0a0a0;
	padding: 4px 10px;
	border-radius: 4px;
}

